<h1>Restaurants</h1>
<ul>
    <% @restaurants.each do |restaurant| %>
    <li><%= link_to restaurant.name,  restaurant_path(restaurant.id) %></li>
    <% end %>
</ul>

<h4><%= link_to "Create new Restaurant", new_restaurant_path %></h4>

